<section style="margin-top: 10px">
  <h2>User List</h2>
  <table class="table table-stripe table-bordered">
    <tr>
      <th>User Name</th>
      <th>Email</th>
    </tr>
    <% @user.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
      </tr>
    <% end %>
  </table>
</section>
