<div class="card" style="width: 48rem;">
  <div class="card-body">
    <span class="card-title"><strong>Series:</strong>  <em><%= @series.name %></em></span>
    <h2>Comments</h2>
    <% @series.comments.each do |comment| %>
      <p class="card-text"><strong><%= comment.user.name  %></strong> said : <%= comment.review %></p>
    <% end %>
    <a href="/tv_series" class="btn btn-primary">Back</a>
  </div>
</div>