<div class="contain notifications">
  <% flash.each do |key, msg| %>
    <div class="alert alert-<%= key.eql?('notice') ? 'success' : 'danger' %>" role="alert">
      <%= msg %>
    </div>
  <% end %>
</div>
